body{
    background: black;   
}
nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}
nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}
.btn {
    padding: 10px 10px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
}
.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}
.logout{
    text-decoration: none;
    color: white;
}
.first{  
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}
section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 100%;
}
section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}
@media only screen and (max-width: 800px) {
    .first{
        flex-direction: column-reverse;
    }
    .secImg img {
        width: 350px;
        position: relative;
        z-index: 10;
    }
}